name: Create new user
run-name: Create user ${{ inputs.username }}

on:
  workflow_dispatch:
    inputs:
      username:
        description: "Username"
        required: true
        type: string
      password:
        description: "Password (masked in logs)"
        required: true
        type: string
      admin:
        description: "Create as admin user"
        required: true
        default: false
        type: boolean

permissions:
  id-token: write
  contents: read

env:
  AWS_REGION: eu-central-1
  SSM_ROLE_TO_ASSUME: arn:aws:iam::887016236946:role/github-terraform-matrix-homeline
  INSTANCE_NAME: matrix-homeserver

jobs:
  create-user:
    runs-on: ubuntu-latest

    steps:
      - name: Mask password in logs
        run: echo "::add-mask::${{ inputs.password }}"

      - uses: actions/checkout@v4
      - name: Configure AWS credentials (OIDC)
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ env.SSM_ROLE_TO_ASSUME }}
          aws-region: ${{ env.AWS_REGION }}
      
      - name: Resolve instance ID
        id: instance
        uses: ./.github/actions/resolve-ec2-instance-id
        with:
          aws_region: ${{ env.AWS_REGION }}
          instance_name: ${{ env.INSTANCE_NAME }}

      - name: Run remote commands (SSM)
        uses: ./.github/actions/ssm-run
        with:
          aws-region: ${{ env.AWS_REGION }}
          instance-id: ${{ steps.instance.outputs.instance_id }}
          commands: |
            bash <<'EOF'
              set -eo pipefail

              if [[ "${{ inputs.admin }}" == "true" ]]; then
                ADMIN_FLAG="--admin"
              else
                ADMIN_FLAG="--no-admin"
              fi

              docker exec -i matrix-synapse register_new_matrix_user \
                -c /data/homeserver.yaml \
                -u $(printf '%q' "${{ inputs.username }}") \
                -p $(printf '%q' "${{ inputs.password }}") \
                ${ADMIN_FLAG} \
                http://localhost:8008
            EOF
